
{% load static %}
<!-- Custom styles for this template -->
  <link href="{% static 'css/auth-ui.css' %}" rel="stylesheet" />

{% block main %}
<section class="auth-screen">
  <div class="auth-box">

    <h2>Welcome</h2>
    <p class="subtitle">Create your account</p>

    <form method="post">
      {% csrf_token %}
      {{ form.username }}
      {{ form.email }}
      {{ form.password1 }}
      {{ form.password2 }}

      <button class="auth-btn primary mt-2">Register</button>
    </form>

    <div class="auth-footer">
      Already have an account?
      <a href="{% url 'login' %}" class="auth-link">Login</a>
    </div>

  </div>
</section>
{% endblock %}
