{% load static %}
<!-- Custom styles for this template -->
  <link href="{% static 'css/auth-ui.css' %}" rel="stylesheet" />


{% block main %}
<section class="auth-screen">
  <div class="auth-box">

    <h2>Set New Password</h2>
    <p class="subtitle">
      Enter your new password below
    </p>

    <form method="post">
      {% csrf_token %}
      {{ form.new_password1 }}
      {{ form.new_password2 }}

      <button class="auth-btn primary mt-2">
        Reset Password
      </button>
    </form>

  </div>
</section>
{% endblock %}
