
{% load static %}
<!-- Custom styles for this template -->
  <link href="{% static 'css/auth-ui.css' %}" rel="stylesheet" />

{% block main %}
<section class="auth-screen">
  <div class="auth-box">

    <h2>Reset Password</h2>
    <p class="subtitle">
      Enter your username and email
    </p>

    <form method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.username }}
      {{ form.email }}

      <button class="auth-btn primary mt-2">
        Send Reset Link
      </button>
    </form>

    <a href="{% url 'login' %}" class="auth-link">
      Back to Login
    </a>

  </div>
</section>
{% endblock %}
